<configuration scan="true" scanPeriod="30 seconds"><!--고르백 구현체가 설정을 확인하는 주기-->
    <!--프로퍼티는 해당 파일 밑에서 편하게 변수를 사용하기 위해서 만들어 놓은 것을 의미한다.-->
    <property name="moduleId" value="around_hub_spring_boot"/><!-- moduleId는 프로젝트가 설치된 폴더명 또는 구분할 수있는 식별자이면됨-->
    <property name="type" value="around_hub"/> <!--로그파일명을 구성하는 인자-->
    <property name="logback" value="logback"/> <!--로그를 저장할 최종 디렉토리명-->
    <property name="logdir" value="${log.file.dir}"/>
    <!--<include resource="org/springframework/boot/logging/logback/defaults.xml"/>-->

    <!-- 외부 설정 파일을 사용하여 위의 property 태그를 만들어 보려고 한다. -->
    <property resource="properties/logback.properties"/>
    <property resource="application.yml"/>

    <!-- Appenders (현재 설정은 콘솔에 출력이 되는 설정이다.)-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--DEBUG이상의 레벨을 출력을 하겠다.-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <!--실행 해 보면서 로그가 어떻게 출력이 되는지 확인해 보자.-->
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{30} %msg%n</pattern>
        </encoder>
    </appender>

    <!--파일 로깅 관련한 설정-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.file.full}</File>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.file.backup.fileNamePattern}</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>50</maxHistory>
            <totalSizeCap>1000MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="OFF"/>
    <!--logback 패키지는 WARN 레벨 이상만 출력하겠다.-->
    <logger name="com.httptest.networkclient" level="INFO"/>
    <!--logback.configurationi 패키지는 WARN 레벨 이상만 출력하겠다.-->
    <!--<logger name="com.logbackGroup.logback.configuration" level="DEBUG"/>-->

    <!-- 모든 패키지의 로그 중 INFO 레벨 이상만 출력하겠다면 root 레벨을 INFO로 변경한다. -->
    <!-- 아래는 모든 패키지의 로그를 꺼버리고 뒤에서 overwrite한 logger 에서만 로그를 출력한다.  -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
