<!DOCTYPE html>
<html lang="en">
<!-- 파비콘 설정 -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    function sendCookie() {

    }
</script>
<body>
    <h3>안녕하세요 <span th:text="${name}"></span> 님. 반갑습니다.</h3>
    <form action="/network-client/send-cookie" method="post">
        <input type="hidden" th:name="name" th:value="${name}">
    </form>
    <button onclick="this.sendCookie()">쿠키 테스트 하기</button>
</body>
</html>